---
import MainLayout from "@layouts/MainLayout.astro";
import { Image } from "astro:assets";

import postImage5 from "@images/post-05.png";


---

<MainLayout title="Imagenes">
    <h1 class="text-5xl text-blue-500 mb-10">Imagenes</h1>
    <img src="/public/assets/images/post-05.png" alt="" width="250" height="250">

    <Image 
        src={postImage5}
        alt="" 
        width={250} 
        height={250} />

    <h2>Quality Low</h2>
    <Image 
        src={postImage5}
        quality="low"
        alt="" 
        width={250} 
        height={250} />
    <h2>Quality High</h2>
    <Image 
        src={postImage5}
        quality="high"
        alt="" 
        width={250} 
        height={250} />



</MainLayout>

